.header-link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    transition: 0.5s;
}

.header-link:hover {
    background: #EB662B;
    color: #fff;
}

