@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif !important;
}


* {
  scroll-behavior: smooth;
}

.mb{
  margin-bottom: 50px !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* .container {
    @apply mx-auto max-w-6xl xl:max-w-7xl px-8;
  } */
  .card {
    @apply flex items-center justify-center flex-col gap-2  w-full sm:w-72 h-full 
  }
  .container {
    max-width: 1024px;
    padding-right: 45px;
    padding-left: 45px;
}
}

@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
      padding-right: 5rem;
      padding-left: 5rem;
  }
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



header {
  position: absolute; /* Overlay the header on the hero image */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; /* Ensure it stays above the hero section */
 background: transparent !important;

}


.layout-pt-xl {
  padding-top: 60px;
}

/* .layout-pb-xl {
  padding-bottom: 70px;
} */

@media screen and (max-width:426px) {
  .LinkHeader {
    display: flex
  ;
    padding-left: 0px !important;
    padding-right: 0px !important;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  section.sec1 .hero-title {
    font-size: 2rem !important;
  }
  .text_header {
    color: #05073c;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 18px !important
}
.container {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 72rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.card {
  display: flex
;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 60px
}

.item {
  flex: 0 0 auto;
  padding: 0px !important;
}
}

.all{
  color: #05073C;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  gap: 5px;
  transition: 0.5s;
  width: 300px;
  text-align: center;
}

.all:hover{
  background: #EB662B;
  color: #fff;
}

.all span {
  text-align: center;
  margin: 0 auto;
}

.arrow{
  display: flex;
      align-items: flex-start;
      justify-content: space-between;
      align-content: center;
      flex-direction: row;
  
}
.LinkHeader {
  display: flex
;

  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}